In [ ]:
{
 "cells": [
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# ukol-08: Adopce zvířat"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 513 entries, 0 to 512\n",
      "Data columns (total 6 columns):\n",
      " #   Column       Non-Null Count  Dtype \n",
      "---  ------       --------------  ----- \n",
      " 0   id           513 non-null    int64 \n",
      " 1   nazev_cz     513 non-null    object\n",
      " 2   nazev_en     513 non-null    object\n",
      " 3   trida_cz     513 non-null    object\n",
      " 4   cena         513 non-null    int64 \n",
      " 5   k_prohlidce  513 non-null    int64 \n",
      "dtypes: int64(3), object(3)\n",
      "memory usage: 24.2+ KB\n"
     ]
    }
   ],
   "source": [
    "zvirata = pandas.read_csv(\"adopce-zvirat.csv\", sep=\";\")\n",
    "zvirata.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>nazev_cz</th>\n",
       "      <th>nazev_en</th>\n",
       "      <th>trida_cz</th>\n",
       "      <th>cena</th>\n",
       "      <th>k_prohlidce</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>7</td>\n",
       "      <td>Šváb syčivý</td>\n",
       "      <td>Madagascar giant cockroach</td>\n",
       "      <td>Bezobratlí</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>8</td>\n",
       "      <td>Pakobylka okřídlená</td>\n",
       "      <td>Pink-winged stick insect</td>\n",
       "      <td>Bezobratlí</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>16</td>\n",
       "      <td>Tayra</td>\n",
       "      <td>Tayra</td>\n",
       "      <td>Savci</td>\n",
       "      <td>5000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>35</td>\n",
       "      <td>Kajmanka supí</td>\n",
       "      <td>Alligator snapping turtle</td>\n",
       "      <td>Plazi</td>\n",
       "      <td>2000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>37</td>\n",
       "      <td>Želva žlutočelá</td>\n",
       "      <td>Indochinese box turtle</td>\n",
       "      <td>Plazi</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>508</th>\n",
       "      <td>1417</td>\n",
       "      <td>Rosnice šalamounská</td>\n",
       "      <td></td>\n",
       "      <td>Obojživelníci</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>509</th>\n",
       "      <td>1418</td>\n",
       "      <td>Létavka obecná</td>\n",
       "      <td></td>\n",
       "      <td>Obojživelníci</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>510</th>\n",
       "      <td>1419</td>\n",
       "      <td>Bažant paví</td>\n",
       "      <td></td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>511</th>\n",
       "      <td>1420</td>\n",
       "      <td>Sojkovec rezavouchý</td>\n",
       "      <td></td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>512</th>\n",
       "      <td>1421</td>\n",
       "      <td>Kachnice kaštanová</td>\n",
       "      <td></td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>513 rows × 6 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       id             nazev_cz                     nazev_en       trida_cz  \\\n",
       "0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí   \n",
       "1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí   \n",
       "2      16                Tayra                        Tayra          Savci   \n",
       "3      35        Kajmanka supí    Alligator snapping turtle          Plazi   \n",
       "4      37      Želva žlutočelá       Indochinese box turtle          Plazi   \n",
       "..    ...                  ...                          ...            ...   \n",
       "508  1417  Rosnice šalamounská                               Obojživelníci   \n",
       "509  1418       Létavka obecná                               Obojživelníci   \n",
       "510  1419          Bažant paví                                       Ptáci   \n",
       "511  1420  Sojkovec rezavouchý                                       Ptáci   \n",
       "512  1421   Kachnice kaštanová                                       Ptáci   \n",
       "\n",
       "     cena  k_prohlidce  \n",
       "0    1000            1  \n",
       "1    1000            1  \n",
       "2    5000            1  \n",
       "3    2000            1  \n",
       "4    1000            1  \n",
       "..    ...          ...  \n",
       "508  1000            1  \n",
       "509  1000            1  \n",
       "510  1000            1  \n",
       "511  1000            1  \n",
       "512  1000            1  \n",
       "\n",
       "[513 rows x 6 columns]"
      ]
     },
     "execution_count": 29,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "id                     99\n",
       "nazev_cz        Ibis bílý\n",
       "nazev_en       White ibis\n",
       "trida_cz            Ptáci\n",
       "cena                 3000\n",
       "k_prohlidce             1\n",
       "Name: 34, dtype: object"
      ]
     },
     "execution_count": 30,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata.iloc[34]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "nazev_cz     Ibis bílý\n",
       "nazev_en    White ibis\n",
       "Name: 34, dtype: object"
      ]
     },
     "execution_count": 31,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata.iloc[34][[\"nazev_cz\", \"nazev_en\"]]"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Bonus"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Adopce kterých zvířat je nejdražší?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>nazev_cz</th>\n",
       "      <th>nazev_en</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>113</th>\n",
       "      <td>Tygr ussurijský</td>\n",
       "      <td>Siberian tiger</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>114</th>\n",
       "      <td>Tygr sumaterský</td>\n",
       "      <td>Sumatran tiger</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>128</th>\n",
       "      <td>Slon indický</td>\n",
       "      <td>Asian elephant</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>129</th>\n",
       "      <td>Hroch obojživelný</td>\n",
       "      <td>Hippopotamus</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>135</th>\n",
       "      <td>Žirafa severní núbijská (= Rothschildova)</td>\n",
       "      <td>Rothschild's giraffe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>272</th>\n",
       "      <td>Tygr malajský</td>\n",
       "      <td>Malayan tiger</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                                      nazev_cz                nazev_en\n",
       "113                            Tygr ussurijský          Siberian tiger\n",
       "114                            Tygr sumaterský          Sumatran tiger\n",
       "128                               Slon indický          Asian elephant\n",
       "129                          Hroch obojživelný            Hippopotamus\n",
       "135  Žirafa severní núbijská (= Rothschildova)  Rothschild's giraffe  \n",
       "272                              Tygr malajský           Malayan tiger"
      ]
     },
     "execution_count": 42,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata_podle_ceny = zvirata.sort_values(\"cena\", ascending=False)\n",
    "nejvyssi_cena = zvirata_podle_ceny.iloc[0][\"cena\"]\n",
    "nejdrazsi_zvirata = zvirata[zvirata[\"cena\"]==nejvyssi_cena]\n",
    "nejdrazsi_zvirata[[\"nazev_cz\", \"nazev_en\"]]"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Které zvíře je alfabeticky poslední v češtině? "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "id                               1190\n",
       "nazev_cz                  Žluva hajní\n",
       "nazev_en       Eurasian golden oriole\n",
       "trida_cz                        Ptáci\n",
       "cena                             1000\n",
       "k_prohlidce                         1\n",
       "Name: 371, dtype: object"
      ]
     },
     "execution_count": 43,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata_podle_abc_cz = zvirata.sort_values(\"nazev_cz\", ascending=False)\n",
    "zvirata_podle_abc_cz.iloc[0]"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Které v angličtině?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "id                                 491\n",
       "nazev_cz           Frankolín žlutokrký\n",
       "nazev_en       Yellow-necked francolin\n",
       "trida_cz                         Ptáci\n",
       "cena                              1000\n",
       "k_prohlidce                          1\n",
       "Name: 161, dtype: object"
      ]
     },
     "execution_count": 44,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "zvirata_podle_abc_en = zvirata.sort_values(\"nazev_en\", ascending=False)\n",
    "zvirata_podle_abc_en.iloc[0]"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Zvířata které třídy jsou v průměru nejlevnější a nejdražší?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 50,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "trida_cz\n",
       "Bezobratlí       1000.000000\n",
       "Ryby             1157.894737\n",
       "Ptáci            1786.919831\n",
       "Plazi            2343.434343\n",
       "Obojživelníci    3375.000000\n",
       "Savci            7112.318841\n",
       "Name: cena, dtype: float64"
      ]
     },
     "execution_count": 50,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "tridy_prumerna_cena = zvirata.groupby(\"trida_cz\")[\"cena\"].mean()\n",
    "tridy_prumerna_cena.sort_values()"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Která zvířata nejsou k dispozici k prohlídce?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 55,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>nazev_cz</th>\n",
       "      <th>nazev_en</th>\n",
       "      <th>trida_cz</th>\n",
       "      <th>cena</th>\n",
       "      <th>k_prohlidce</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>73</td>\n",
       "      <td>Krajta královská</td>\n",
       "      <td>Ball python</td>\n",
       "      <td>Plazi</td>\n",
       "      <td>2000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20</th>\n",
       "      <td>79</td>\n",
       "      <td>Užovka nosatá</td>\n",
       "      <td>Vietnamese longnose snake</td>\n",
       "      <td>Plazi</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>31</th>\n",
       "      <td>95</td>\n",
       "      <td>Marabu africký</td>\n",
       "      <td>Marabou stork</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>4000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>53</th>\n",
       "      <td>147</td>\n",
       "      <td>Orel kejklíř</td>\n",
       "      <td>Bateleur</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>54</th>\n",
       "      <td>148</td>\n",
       "      <td>Hadilov písař</td>\n",
       "      <td>Secretary bird</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>55</th>\n",
       "      <td>152</td>\n",
       "      <td>Guan modrohrdlý</td>\n",
       "      <td>Blue-throated piping-guan</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>2000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>73</th>\n",
       "      <td>202</td>\n",
       "      <td>Lori papuánský</td>\n",
       "      <td>Papuan lorikeet</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75</th>\n",
       "      <td>212</td>\n",
       "      <td>Papoušek mniší</td>\n",
       "      <td>Monk parakeet</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>83</th>\n",
       "      <td>233</td>\n",
       "      <td>Dudek chocholatý</td>\n",
       "      <td>Hoopoe</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>85</th>\n",
       "      <td>235</td>\n",
       "      <td>Zoborožec kaferský</td>\n",
       "      <td>African ground hornbill</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>366</td>\n",
       "      <td>Morče domácí</td>\n",
       "      <td>Guinea pig</td>\n",
       "      <td>Savci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>150</th>\n",
       "      <td>447</td>\n",
       "      <td>Korunáč šedomodrý</td>\n",
       "      <td>Common crowned pigeon</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>162</th>\n",
       "      <td>492</td>\n",
       "      <td>Bodlinatka turecká</td>\n",
       "      <td>Turkish spiny mouse</td>\n",
       "      <td>Savci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>170</th>\n",
       "      <td>508</td>\n",
       "      <td>Pštros dvouprstý</td>\n",
       "      <td>Ostrich</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>5000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>178</th>\n",
       "      <td>563</td>\n",
       "      <td>Mandelík hajní</td>\n",
       "      <td>Common roller</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>179</th>\n",
       "      <td>568</td>\n",
       "      <td>Vlhovec chocholatý</td>\n",
       "      <td>Crested oropendola</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>183</th>\n",
       "      <td>576</td>\n",
       "      <td>Králík domácí</td>\n",
       "      <td>Domestic rabbit</td>\n",
       "      <td>Savci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>187</th>\n",
       "      <td>585</td>\n",
       "      <td>Buvolec běločelý</td>\n",
       "      <td>Blesbock</td>\n",
       "      <td>Savci</td>\n",
       "      <td>5000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>188</th>\n",
       "      <td>586</td>\n",
       "      <td>Přímorožec beisa</td>\n",
       "      <td>Beisa oryx</td>\n",
       "      <td>Savci</td>\n",
       "      <td>5000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>205</th>\n",
       "      <td>652</td>\n",
       "      <td>Voduška červená</td>\n",
       "      <td>Southern lechwe</td>\n",
       "      <td>Savci</td>\n",
       "      <td>5000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>230</th>\n",
       "      <td>745</td>\n",
       "      <td>Nesyt africký</td>\n",
       "      <td>Yellow-billed stork</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>2500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>234</th>\n",
       "      <td>758</td>\n",
       "      <td>Voduška abok</td>\n",
       "      <td>Nile lechwe</td>\n",
       "      <td>Savci</td>\n",
       "      <td>5000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>248</th>\n",
       "      <td>791</td>\n",
       "      <td>Čichavec líbající</td>\n",
       "      <td>Kissing gourami</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>266</th>\n",
       "      <td>868</td>\n",
       "      <td>Sekavka nádherná (= mřenka nádherná)</td>\n",
       "      <td>Clown loach</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>276</th>\n",
       "      <td>910</td>\n",
       "      <td>Papoušek vlnkovaný (= andulka vlnkovaná)</td>\n",
       "      <td>Budgerigar</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>278</th>\n",
       "      <td>913</td>\n",
       "      <td>Čichavec perleťový</td>\n",
       "      <td>Pearl gourami</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>284</th>\n",
       "      <td>939</td>\n",
       "      <td>Amuřice Hoevenova</td>\n",
       "      <td>Red-finned cigar shark</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>285</th>\n",
       "      <td>940</td>\n",
       "      <td>Čichavec drobnošupinný</td>\n",
       "      <td>Moonlight gourami</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>287</th>\n",
       "      <td>949</td>\n",
       "      <td>Labeo černé</td>\n",
       "      <td>Black shark</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>288</th>\n",
       "      <td>950</td>\n",
       "      <td>Labeo červenoocasé</td>\n",
       "      <td>Red-tailed labeo</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>289</th>\n",
       "      <td>952</td>\n",
       "      <td>Labeo krásnoploutvé</td>\n",
       "      <td>Thai flying fox</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>291</th>\n",
       "      <td>960</td>\n",
       "      <td>Parmička pruhoocasá</td>\n",
       "      <td>Spanner barb</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>292</th>\n",
       "      <td>964</td>\n",
       "      <td>Parmička Schwanenfeldova</td>\n",
       "      <td>Tinfoil barb</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>293</th>\n",
       "      <td>967</td>\n",
       "      <td>Parmička žraločí</td>\n",
       "      <td>Bala shark</td>\n",
       "      <td>Ryby</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>301</th>\n",
       "      <td>996</td>\n",
       "      <td>Hrdlička divoká</td>\n",
       "      <td>European turtle-dove</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>307</th>\n",
       "      <td>1021</td>\n",
       "      <td>Čejka žlutonohá</td>\n",
       "      <td>African wattled lapwing</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>339</th>\n",
       "      <td>1130</td>\n",
       "      <td>Ježek západní</td>\n",
       "      <td>Western hedgehog</td>\n",
       "      <td>Savci</td>\n",
       "      <td>2000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>345</th>\n",
       "      <td>1150</td>\n",
       "      <td>Myš pruhovaná</td>\n",
       "      <td>Mesic mouse</td>\n",
       "      <td>Savci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>350</th>\n",
       "      <td>1156</td>\n",
       "      <td>Sojkovec vlnkohřbetý</td>\n",
       "      <td>Barred laughingthrush</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>354</th>\n",
       "      <td>1164</td>\n",
       "      <td>Čája obojková</td>\n",
       "      <td>Southern screamer</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>2500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>357</th>\n",
       "      <td>1167</td>\n",
       "      <td>Flétnák australský</td>\n",
       "      <td>Australian magpie</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>386</th>\n",
       "      <td>1219</td>\n",
       "      <td>Holub zlatoprsý</td>\n",
       "      <td>Cinnamon ground-dove</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>410</th>\n",
       "      <td>1274</td>\n",
       "      <td>Latam vlaštovčí</td>\n",
       "      <td>Swift parrot</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>413</th>\n",
       "      <td>1278</td>\n",
       "      <td>Pelikán skvrnozobý</td>\n",
       "      <td>Spot-billed pelican</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>8000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>416</th>\n",
       "      <td>1286</td>\n",
       "      <td>Velemyš (krysa) největší</td>\n",
       "      <td>Southern giant slender-tailed cloud rat</td>\n",
       "      <td>Savci</td>\n",
       "      <td>4000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>424</th>\n",
       "      <td>1298</td>\n",
       "      <td>Tinama přilbová</td>\n",
       "      <td>Elegant crested tinamou</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>447</th>\n",
       "      <td>1333</td>\n",
       "      <td>Neoféma Bourkova</td>\n",
       "      <td>Bourkeâ€™s parrot</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>453</th>\n",
       "      <td>1344</td>\n",
       "      <td>Sup kapucín</td>\n",
       "      <td>Hooded vulture</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>455</th>\n",
       "      <td>1347</td>\n",
       "      <td>Vlhovec žlutokápý</td>\n",
       "      <td>Yellow-hooded blackbird</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>457</th>\n",
       "      <td>1350</td>\n",
       "      <td>Kondor královský</td>\n",
       "      <td>King vulture</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>463</th>\n",
       "      <td>1361</td>\n",
       "      <td>Šírohlavec východní</td>\n",
       "      <td>Eastern Montpellier snake</td>\n",
       "      <td>Plazi</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>468</th>\n",
       "      <td>1367</td>\n",
       "      <td>Rybák obecný</td>\n",
       "      <td>Common tern</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>2000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>481</th>\n",
       "      <td>1383</td>\n",
       "      <td>Kraska krátkoocasá jávská</td>\n",
       "      <td>Javan green magpie</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>3000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>487</th>\n",
       "      <td>1392</td>\n",
       "      <td>Chřástal kropenatý</td>\n",
       "      <td>Porzana porzana</td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>501</th>\n",
       "      <td>1409</td>\n",
       "      <td>Dytík bledý</td>\n",
       "      <td></td>\n",
       "      <td>Ptáci</td>\n",
       "      <td>1500</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       id                                  nazev_cz  \\\n",
       "17     73                          Krajta královská   \n",
       "20     79                             Užovka nosatá   \n",
       "31     95                            Marabu africký   \n",
       "53    147                              Orel kejklíř   \n",
       "54    148                             Hadilov písař   \n",
       "55    152                           Guan modrohrdlý   \n",
       "73    202                            Lori papuánský   \n",
       "75    212                            Papoušek mniší   \n",
       "83    233                          Dudek chocholatý   \n",
       "85    235                        Zoborožec kaferský   \n",
       "122   366                              Morče domácí   \n",
       "150   447                         Korunáč šedomodrý   \n",
       "162   492                        Bodlinatka turecká   \n",
       "170   508                          Pštros dvouprstý   \n",
       "178   563                            Mandelík hajní   \n",
       "179   568                        Vlhovec chocholatý   \n",
       "183   576                             Králík domácí   \n",
       "187   585                          Buvolec běločelý   \n",
       "188   586                          Přímorožec beisa   \n",
       "205   652                           Voduška červená   \n",
       "230   745                             Nesyt africký   \n",
       "234   758                              Voduška abok   \n",
       "248   791                         Čichavec líbající   \n",
       "266   868      Sekavka nádherná (= mřenka nádherná)   \n",
       "276   910  Papoušek vlnkovaný (= andulka vlnkovaná)   \n",
       "278   913                        Čichavec perleťový   \n",
       "284   939                         Amuřice Hoevenova   \n",
       "285   940                    Čichavec drobnošupinný   \n",
       "287   949                               Labeo černé   \n",
       "288   950                        Labeo červenoocasé   \n",
       "289   952                       Labeo krásnoploutvé   \n",
       "291   960                       Parmička pruhoocasá   \n",
       "292   964                  Parmička Schwanenfeldova   \n",
       "293   967                          Parmička žraločí   \n",
       "301   996                           Hrdlička divoká   \n",
       "307  1021                           Čejka žlutonohá   \n",
       "339  1130                             Ježek západní   \n",
       "345  1150                             Myš pruhovaná   \n",
       "350  1156                      Sojkovec vlnkohřbetý   \n",
       "354  1164                             Čája obojková   \n",
       "357  1167                        Flétnák australský   \n",
       "386  1219                           Holub zlatoprsý   \n",
       "410  1274                           Latam vlaštovčí   \n",
       "413  1278                        Pelikán skvrnozobý   \n",
       "416  1286                  Velemyš (krysa) největší   \n",
       "424  1298                           Tinama přilbová   \n",
       "447  1333                          Neoféma Bourkova   \n",
       "453  1344                               Sup kapucín   \n",
       "455  1347                         Vlhovec žlutokápý   \n",
       "457  1350                          Kondor královský   \n",
       "463  1361                       Šírohlavec východní   \n",
       "468  1367                              Rybák obecný   \n",
       "481  1383                 Kraska krátkoocasá jávská   \n",
       "487  1392                        Chřástal kropenatý   \n",
       "501  1409                               Dytík bledý   \n",
       "\n",
       "                                    nazev_en trida_cz  cena  k_prohlidce  \n",
       "17                               Ball python    Plazi  2000            0  \n",
       "20                 Vietnamese longnose snake    Plazi  1500            0  \n",
       "31                             Marabou stork    Ptáci  4000            0  \n",
       "53                                  Bateleur    Ptáci  3000            0  \n",
       "54                            Secretary bird    Ptáci  3000            0  \n",
       "55                 Blue-throated piping-guan    Ptáci  2000            0  \n",
       "73                           Papuan lorikeet    Ptáci  1500            0  \n",
       "75                             Monk parakeet    Ptáci  1000            0  \n",
       "83                                    Hoopoe    Ptáci  1500            0  \n",
       "85                   African ground hornbill    Ptáci  3000            0  \n",
       "122                               Guinea pig    Savci  1000            0  \n",
       "150                    Common crowned pigeon    Ptáci  1500            0  \n",
       "162                      Turkish spiny mouse    Savci  1000            0  \n",
       "170                                  Ostrich    Ptáci  5000            0  \n",
       "178                            Common roller    Ptáci  1500            0  \n",
       "179                       Crested oropendola    Ptáci  1500            0  \n",
       "183                          Domestic rabbit    Savci  1000            0  \n",
       "187                                 Blesbock    Savci  5000            0  \n",
       "188                               Beisa oryx    Savci  5000            0  \n",
       "205                          Southern lechwe    Savci  5000            0  \n",
       "230                      Yellow-billed stork    Ptáci  2500            0  \n",
       "234                              Nile lechwe    Savci  5000            0  \n",
       "248                          Kissing gourami     Ryby  1000            0  \n",
       "266                              Clown loach     Ryby  1000            0  \n",
       "276                               Budgerigar    Ptáci  1000            0  \n",
       "278                            Pearl gourami     Ryby  1000            0  \n",
       "284                   Red-finned cigar shark     Ryby  1000            0  \n",
       "285                        Moonlight gourami     Ryby  1000            0  \n",
       "287                              Black shark     Ryby  1000            0  \n",
       "288                         Red-tailed labeo     Ryby  1000            0  \n",
       "289                          Thai flying fox     Ryby  1000            0  \n",
       "291                             Spanner barb     Ryby  1000            0  \n",
       "292                             Tinfoil barb     Ryby  1000            0  \n",
       "293                               Bala shark     Ryby  1000            0  \n",
       "301                     European turtle-dove    Ptáci  1000            0  \n",
       "307                  African wattled lapwing    Ptáci  1500            0  \n",
       "339                         Western hedgehog    Savci  2000            0  \n",
       "345                              Mesic mouse    Savci  1000            0  \n",
       "350                    Barred laughingthrush    Ptáci  1000            0  \n",
       "354                        Southern screamer    Ptáci  2500            0  \n",
       "357                        Australian magpie    Ptáci  1500            0  \n",
       "386                     Cinnamon ground-dove    Ptáci  1000            0  \n",
       "410                             Swift parrot    Ptáci  1500            0  \n",
       "413                      Spot-billed pelican    Ptáci  8000            0  \n",
       "416  Southern giant slender-tailed cloud rat    Savci  4000            0  \n",
       "424                  Elegant crested tinamou    Ptáci  1000            0  \n",
       "447                        Bourkeâ€™s parrot    Ptáci  1000            0  \n",
       "453                           Hooded vulture    Ptáci  3000            0  \n",
       "455                  Yellow-hooded blackbird    Ptáci  1000            0  \n",
       "457                             King vulture    Ptáci  3000            0  \n",
       "463                Eastern Montpellier snake    Plazi  1500            0  \n",
       "468                              Common tern    Ptáci  2000            0  \n",
       "481                       Javan green magpie    Ptáci  3000            0  \n",
       "487                          Porzana porzana    Ptáci  1500            0  \n",
       "501                                             Ptáci  1500            0  "
      ]
     },
     "execution_count": 55,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "neni_prohlidka = zvirata[zvirata[\"k_prohlidce\"]==0]\n",
    "neni_prohlidka"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Kolik zvířat není k dispozici k prohlídce?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 56,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "55"
      ]
     },
     "execution_count": 56,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "neni_prohlidka.shape[0]"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Kolik zvířat které třídy není k dispozici k prohlídce?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 66,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>nazev_cz</th>\n",
       "      <th>nazev_en</th>\n",
       "      <th>cena</th>\n",
       "      <th>k_prohlidce</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>trida_cz</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Plazi</th>\n",
       "      <td>3</td>\n",
       "      <td>3</td>\n",
       "      <td>3</td>\n",
       "      <td>3</td>\n",
       "      <td>3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Ptáci</th>\n",
       "      <td>31</td>\n",
       "      <td>31</td>\n",
       "      <td>31</td>\n",
       "      <td>31</td>\n",
       "      <td>31</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Ryby</th>\n",
       "      <td>11</td>\n",
       "      <td>11</td>\n",
       "      <td>11</td>\n",
       "      <td>11</td>\n",
       "      <td>11</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Savci</th>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "          id  nazev_cz  nazev_en  cena  k_prohlidce\n",
       "trida_cz                                           \n",
       "Plazi      3         3         3     3            3\n",
       "Ptáci     31        31        31    31           31\n",
       "Ryby      11        11        11    11           11\n",
       "Savci     10        10        10    10           10"
      ]
     },
     "execution_count": 66,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "neni_prohlidka.groupby(\"trida_cz\").count()"
   ]
  },
  {
   "attachments": {},
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Ve které třídě je nejvíc a ve které nejmíň zvířat?"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 63,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>nazev_cz</th>\n",
       "      <th>nazev_en</th>\n",
       "      <th>cena</th>\n",
       "      <th>k_prohlidce</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>trida_cz</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Obojživelníci</th>\n",
       "      <td>8</td>\n",
       "      <td>8</td>\n",
       "      <td>8</td>\n",
       "      <td>8</td>\n",
       "      <td>8</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Bezobratlí</th>\n",
       "      <td>12</td>\n",
       "      <td>12</td>\n",
       "      <td>12</td>\n",
       "      <td>12</td>\n",
       "      <td>12</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Ryby</th>\n",
       "      <td>19</td>\n",
       "      <td>19</td>\n",
       "      <td>19</td>\n",
       "      <td>19</td>\n",
       "      <td>19</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Plazi</th>\n",
       "      <td>99</td>\n",
       "      <td>99</td>\n",
       "      <td>99</td>\n",
       "      <td>99</td>\n",
       "      <td>99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Savci</th>\n",
       "      <td>138</td>\n",
       "      <td>138</td>\n",
       "      <td>138</td>\n",
       "      <td>138</td>\n",
       "      <td>138</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Ptáci</th>\n",
       "      <td>237</td>\n",
       "      <td>237</td>\n",
       "      <td>237</td>\n",
       "      <td>237</td>\n",
       "      <td>237</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                id  nazev_cz  nazev_en  cena  k_prohlidce\n",
       "trida_cz                                                 \n",
       "Obojživelníci    8         8         8     8            8\n",
       "Bezobratlí      12        12        12    12           12\n",
       "Ryby            19        19        19    19           19\n",
       "Plazi           99        99        99    99           99\n",
       "Savci          138       138       138   138          138\n",
       "Ptáci          237       237       237   237          237"
      ]
     },
     "execution_count": 63,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "tridy = zvirata.groupby(\"trida_cz\").count()\n",
    "tridy.sort_values(\"id\")"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.10"
  },
  "orig_nbformat": 4
 },
 "nbformat": 4,
 "nbformat_minor": 2
}